<html>
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
	<head>
		<div class="btn-group btn-group-justified">
			<a class="btn btn-default" href="">left</a>
			<a class="btn btn-default" href="">middle</a>
			<a class="btn btn-default" href="">right</a>
		</div>
	</head>



</html>